/build/
/build
build/.vs/HOWARDSPECIAL2/v15/.suo
build/.vs/HOWARDSPECIAL2/v15/Browse.VC.db
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/635590edd8b21798/VERTEXBUFFER.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/75b1f6822dca7703/TRIANGLERENDERER.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/78e938b67921d101/VERTEXARRAY.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/874d59069a7f9d30/TRIANGLERENDERER.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/946a0c43fbbf163/MAIN.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/967ea57144cb6ad3/GAMEOBJECT.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/a2877fe5b038415d/SHADERPROGRAM.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/c82b59180c13517/COMPONENT.ipch
build/.vs/HOWARDSPECIAL2/v15/ipch/AutoPCH/e57860c58c47c90b/CORE.ipch
build/.vs/HOWARDSPECIAL2/v15/Solution.VC.db
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.15.1/CMakeCCompiler.cmake
build/CMakeFiles/3.15.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.15.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.1/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.15.1/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.15.1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.15.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.15.1/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.15.1/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.15.1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.15.1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.15.1/VCTargetsPath.txt
build/CMakeFiles/3.15.1/VCTargetsPath.vcxproj
build/CMakeFiles/60672f8a9c2ea6a52b314dafb69a3b9b/generate.stamp.rule
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Debug/game.exe
build/Debug/game.ilk
build/Debug/game.pdb
build/Debug/HowardSpecial2.lib
build/Debug/HowardSpecial2.pdb
build/game.dir/Debug/game.log
build/game.dir/Debug/game.tlog/CL.command.1.tlog
build/game.dir/Debug/game.tlog/CL.read.1.tlog
build/game.dir/Debug/game.tlog/CL.write.1.tlog
build/game.dir/Debug/game.tlog/custombuild.command.1.tlog
build/game.dir/Debug/game.tlog/custombuild.read.1.tlog
build/game.dir/Debug/game.tlog/custombuild.write.1.tlog
build/game.dir/Debug/game.tlog/game.lastbuildstate
build/game.dir/Debug/game.tlog/link-cvtres.read.1.tlog
build/game.dir/Debug/game.tlog/link-cvtres.write.1.tlog
build/game.dir/Debug/game.tlog/link-rc.read.1.tlog
build/game.dir/Debug/game.tlog/link-rc.write.1.tlog
build/game.dir/Debug/game.tlog/link.12124-cvtres.read.1.tlog
build/game.dir/Debug/game.tlog/link.12124-cvtres.write.1.tlog
build/game.dir/Debug/game.tlog/link.12124-rc.read.1.tlog
build/game.dir/Debug/game.tlog/link.12124-rc.write.1.tlog
build/game.dir/Debug/game.tlog/link.12124.read.1.tlog
build/game.dir/Debug/game.tlog/link.12124.write.1.tlog
build/game.dir/Debug/game.tlog/link.command.1.tlog
build/game.dir/Debug/game.tlog/link.read.1.tlog
build/game.dir/Debug/game.tlog/link.write.1.tlog
build/game.dir/Debug/game.tlog/unsuccessfulbuild
build/game.dir/Debug/main.obj
build/game.dir/Debug/vc141.pdb
build/game.vcxproj
build/game.vcxproj.filters
build/game.vcxproj.user
build/HowardSpecial2.dir/Debug/Component.obj
build/HowardSpecial2.dir/Debug/Core.obj
build/HowardSpecial2.dir/Debug/GameObject.obj
build/HowardSpecial2.dir/Debug/HowardSpecial2.log
build/HowardSpecial2.dir/Debug/HowardSpecial2.pdb
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/CL.command.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/CL.read.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/CL.write.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/custombuild.command.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/custombuild.read.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/custombuild.write.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/HowardSpecial2.lastbuildstate
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/Lib-link.read.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/Lib-link.write.1.tlog
build/HowardSpecial2.dir/Debug/HowardSpecial2.tlog/Lib.command.1.tlog
build/HowardSpecial2.dir/Debug/ShaderProgram.obj
build/HowardSpecial2.dir/Debug/TriangleRenderer.obj
build/HowardSpecial2.dir/Debug/VertexArray.obj
build/HowardSpecial2.dir/Debug/VertexBuffer.obj
build/HOWARDSPECIAL2.sln
build/HowardSpecial2.vcxproj
build/HowardSpecial2.vcxproj.filters
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeCache.txt
build/CMakeFiles/3.15.1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.15.1/VCTargetsPath.vcxproj
build/CMakeFiles/CMakeOutput.log
build/CMakeCache.txt
build/CMakeFiles/3.15.1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.15.1/VCTargetsPath.vcxproj
build/CMakeFiles/CMakeOutput.log
build/CMakeCache.txt
build/CMakeFiles/3.15.1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.15.1/VCTargetsPath.vcxproj
build/CMakeFiles/CMakeOutput.log
build/CMakeCache.txt
build/CMakeFiles/3.15.1/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.15.1/VCTargetsPath.vcxproj
build/CMakeFiles/CMakeOutput.log
